@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <span>Latidude</span>
    <input type="text" id ="lat" />
</div>

<div>
    <span>Longitude</span>
    <input type="text" id ="lon" />
</div>

<h2>Simple Map</h2>
<div id="simpleMap" style="width:900px;height:400px;"></div>

<h2>Map with my address plotted</h2>
<div id="myAddressPlottedMap" style="width:900px;height:400px;"></div>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrVI0ZIrpj5CzKMy1e2tdnGfP1_50I5fk&sensor=false">
</script>

<script type="text/javascript">

    var simpleMap;
    var myAddressPlottedMap;

    var geocoder;
    var infoWindow = new google.maps.InfoWindow();

    $(function () {
              
        if (Modernizr.geolocation) {
            var showPosition = function (position) {
                var coordinates = position.coords;
                var lat = coordinates.latitude;
                var lon = coordinates.longitude;
                
                $('#lat').val(lat);
                $('#lon').val(lon);

                var latLng = new google.maps.LatLng(lat, lon);
                
                var mapOptions = {
                    center: latLng,
                    zoom: 14,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                simpleMap = new google.maps.Map(document.getElementById('simpleMap'), mapOptions);
                myAddressPlottedMap = new google.maps.Map(document.getElementById('myAddressPlottedMap'), mapOptions);

                geocoder = new google.maps.Geocoder();
                geocoder.geocode({location: latLng}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        var marker = new google.maps.Marker({
                            map: myAddressPlottedMap,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
                

            };

            var positionError = function (positionError) {
                // Code = 1: Permission denied
                // Code = 2: Position unavailable
                // Code = 1: Timeout
                
                if (positionError.code == 1) {
                    // user said no
                }
                alert('Ooops! Error: ' + positionError.code);
            };

            navigator.geolocation.getCurrentPosition(showPosition, positionError);
            
        } else {
            // no native support, implement fallback
            // To Do: Ask for zipcode or address, or allow option to not use geolocation
        }
        
    });   

</script>